#settings::after {
	content: attr(data-label);
}

@media only screen and (max-width: 600px) {
	#settings::after {
		content: "\2699"!important;
	}
}

.overlay-text+.post-file-src .file-thumb,
.overlay-text+.post-file-src .catalog-thumb {
	content: unset !important;
}
